@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&family=Open+Sans:wght@300;600&display=swap');

$headingFont: 'Open Sans', sans-serif;
$textFont: 'Montserrat', sans-serif;

$brightSkyBlue: #4894ff;
$skyBlue: #3584F1;
$darkGrey: #303036;
$brightGrey: #63636B;
$paleWhite: #D6D6D7;
$closeWhite: #FCFCFC;


/**
    Bootstraps default variables
*/
// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
